<a href="https://colab.research.google.com/github/Nourin0103/Class-Assignment-1---Getting-Started-with-Python-Programming/blob/master/programming_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list=[8,7,6,5,4]
large=list[0]
for i in list:
  if i >large:
    large =i
print(large)

8

In [ ]:
list=[1,2,4,7,9]
print(list)
k=int(input("enter the number to search "))
for i in list:
  if i==k:
   print ("element found")
   break
else:
  print("not found")

[1, 2, 4, 7, 9]
enter the number to search 4
element found

In [ ]:
list=[7,8,5,4,3]
sum=0
for i in list:
 sum=sum+i
print("sum is " , sum)

sum is  27

In [ ]:
list=[4,4,8,14,56,9,5]
print(list)
newlist=[]
for i in list:
 if i not in newlist:
  newlist.append(i)
print(newlist)

[4, 4, 8, 14, 56, 9, 5]
[4, 8, 14, 56, 9, 5]

In [ ]:
def common(list1,list2):
  for i in list1:
    for j in list2:
      if i==j:
        return True
print(common([4,5,6],[6,7,8,9]))
print(common([6,7],[8,9]))

True
None

In [ ]:
list1=[6,7,8]
list2=['e','f','g']
list=list1+list2
print(list)

[6, 7, 8, 'e', 'f', 'g']

In [ ]:
n=int(input("enter a number "))
fact=0
for i in range(1,n):
 if n%i==0:
  fact=i
if fact>1:
  print("composite number")
elif n==1:
  print("neither composite nor prime")
else:
  print("prime number")

enter a number 6
composite number

In [ ]:
X=[[3,4,4],[6,9,6],[1,1,1]]
Y=[[23,6,11],[3,6,8],[8,12,3]]
RESULT=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(X)):
  for j in range(len(X[0])):
    RESULT[i][j]=X[i][j]+Y[i][j]
print(RESULT)

[[26, 10, 15], [9, 15, 14], [9, 13, 4]]

In [ ]:
def palindrome(str):
  rev=''.join(reversed(str))
  if str==rev:
    return True
  return False
str=input("enter a word ")
word= palindrome(str)
if (word):
  print("it is palindrome")
else:
 print("it is not palindrome")

enter a word malayalam
it is palindrome

In [ ]:
num=int(input("enter a number "))
for i in range(1,9):
 print(num,"x",i,"=",num*i)

enter a number 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64