<a href="https://colab.research.google.com/github/Nourin0103/Class-Assignment-1---Getting-Started-with-Python-Programming/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=str(input("Enter your name:"))
b=str(input("Enter your address:"))
c=str(input("Enter your telephone number:"))

Enter your name:Nourin
Enter your address:minnumeenu gssnra 255
Enter your telephone number:9446363321

In [ ]:
print("Your name is ", name)

NameError: ignored

In [ ]:
name="Nourin"
print("your name is ", name)

your name is  Nourin

In [ ]:
 width = int(input("Enter the width "))
height = int(input("Enter the height "))
area = width * height
print("The area is" , area, "square units")

Enter the width 30
Enter the height 20
The area is 600 square units

In [ ]:
baselength = int(input("Enter the base length of the triangle "))
height = int(input("Enter the height of the triangle "))
area = ((baselength*height)/2)
print("The area of the traingle is" , area, "square units")

Enter the base length of the triangle 12
Enter the height of the triangle 15
The area of the traingle is 90.0 square units

In [ ]:
radius= (float(input("Enter the radius of the circle ")))
area = 3.14 * radius ** 2
print("The area of the circle is ", area ,"square units")

Enter the radius of the circle 7
The area of the circle is  153.86 square units

In [29]:
str(input("Enter your name"))
a=int(input("Enter your age"))
print("your name is", name ,"and your age is ", str(a) )

Enter your namenourin
Enter your age19
your name is Nourin and your age is  19

In [ ]:
x=int(input("Enter a number"))
a= x+1
print("the result is", a)

Enter a number87
the result is 88

In [ ]:
a= str(input("Enter your first name "))

Enter your first name Nourin